/* Reset CSS para remover margens e preenchimentos padrão */
body, ul {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 12.75rem; /* 300px para rem */
    background-color: #1a1a1a;
    padding: 0.75rem; /* 12px para rem */
}

.sidebar .logo {
    display: flex;
    padding: 1rem 0 0 1rem; /* 16px, 0, 0, 16px para rem */
}

.sidebar .logo img {
    width: 10rem;
}

.sidebar__navigation {
    border-radius: 0.5rem; /* 8px para rem */
    cursor: pointer;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 1.25rem; /* 20px para rem */
    padding: 0 1.25rem 0.625rem 1.25rem; /* 0, 20px, 10px, 20px para rem */
}

.sidebar nav ul li {
    padding: 0.625rem 0; /* 10px, 0 para rem */
}

.sidebar nav ul li button {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem; /* 14px para rem */
    background-image: none;
    background: none;
    border-radius: 0;
    padding: 3px;
}

.sidebar nav ul li .fa {
    font-size: 1.25rem; /* 20px para rem */
    margin-right: 0.625rem; /* 10px para rem */
    font-weight: 300;
}

.sidebar nav ul li button:hover {
    color: #ffffff;
}

/* Painel */
main {
    width: 53%;
}

.menu-quest {
    color: #ffffff;
    padding: 1rem;
}

.menu-quest .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pergunta {
    margin: 1rem;
}

.menu-quest .quest-body {
    padding: 12px 0px;
}

.menu-quest .quest-body textarea {
    background: none;
    color: #ffffff;
    margin: 8px;
    width: 100%;
    border-style: solid;
    border-image: linear-gradient(to right,#ACD600, #04C900) 1;
    padding: 8px;
}

.menu-quest .quest-body select {
    background: none;
    color: #ffffff;
    width: 100%;
    border: 1px solid #abd60065;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px;
    padding: 8px;
}

.menu-quest .quest-body label {
    padding: 8px;
}

#questoes {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.menu-quest .quest-footer {
    display: flex;
    justify-content: flex-end;
}

.menu-quest .quest-footer button {
    margin: 4px;
}

.menu-quest button {
    font-size: 1rem;
}

.menu-quest button:hover {
    opacity: 70%;
}

.result-questions {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    list-style-type: none;
}

.result-questions li {
    background-color: rgba(9,9,9,0.3);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    opacity: 50%;
    transition: transform 0.3s ease-in-out;
}

.result-questions li:hover {
    opacity: 100%;
}

.moveUp {
    animation: climb 0.5s ease;
}

@keyframes climb {
    0% { transform: translateY(0); } /* Sem deslocamento vertical */
    100% { transform: translateY(-85px); } /* Deslocamento para cima */
}

.moveDown {
    animation: fall 0.5s ease;
}

@keyframes fall {
    0% { transform: translateY(0); } /* Sem deslocamento vertical */
    100% { transform: translateY(85px); } /* Deslocamento para baixo */
}

.result-questions li .question_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-questions li .question_item button {
    margin: 2px;
    height: 30px;
}

.result-questions li .question_item button img {
    height: 12px;
}

.result-questions li .question_item .question_item_text {
    margin: 0px 5px;
}