body {
  display: flex;
  flex-direction: column;
  
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

#animated_button {
  cursor: pointer;
  animation: pular 0.5s ease infinite alternate;
}

@keyframes pular {
  0% { transform: translateY(0); } /* Sem deslocamento vertical */
  100% { transform: translateY(-10px); } /* Deslocamento para cima */
}